@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
    padding: 0;
    margin: 0;
}

header {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Roboto', sans-serif;

}

.letter {
    /*font-family: 'Krona One', sans-serif;*/
    font-family: 'Tektur', sans-serif;
}

header nav {
    background-color: #000;

    z-index: 1;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    margin: 0 auto;
}

.navbar-toggler {
    border: solid 2px #fff;
}

.bi-list {
    color: #fff;
}

#marcas {
    background-color: #fff;

}

.dropdown-item {
    color: #000;
}

.dropdown-item:hover {
    background-color: #348e91;
}

.offcanvas {
    background-color: #000;

}

.offcanvas-title {
    font-size: 1.5rem;
}

.nav-item {
    padding-right: 25px;
    font-size: 1.1em;
}

.nav-link {
    color: #fff;
}

.animate__fadeInUp {
    animation-duration: 0.19s;
}

footer {
    background-color: #040B0A

}

footer div {
    padding: 40px 40px;
}
.flex{
    display: flex;
}
.none{
    display: none;
}
.clicked{
    color: #348e91 !important;
}
.right{
    margin-left: auto;
}
.rowFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.columnFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.relative{
    position: relative;
}
.marginTopBot{
    margin: 20px 0;
}
.bold{
    font-weight: bold;
}
.left{
    margin-right: auto;
}
.width100{
    width: 100%;
}
.iconLogo{
    height: 70px;
    position: relative;
    top: -3px;

}
.stock{
    color: green;
}
.nonStock{
    color: red;
}
@media (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
}




